<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h2 class="section-heading text-center">About</h2>
                <hr class="light">
                <h3 class="text-center">"Art and the ability to think of abstract concepts is what distinguishes our species from other animals...Its emergence, therefore, marks one of the key moments when our species became truly human" <span style="font-size:60%">[1]</span></h3>
                <br>
                <p class="text-faded">"The Cave" is an interactive, projection-mapped installation that explores the dawn of art created by artificial intelligence- art made possible by new machine learning algorithms. By tweeting images to <a href="https://twitter.com/paintingthecave">@paintingthecave</a>, the audience spawns algorithmically-generated computer "cave paintings" that are embedded into the cave's digital mesh.</p>
                <p class="text-faded">For the tech savvy: the program employs <a href="https://github.com/jcjohnson/neural-style">convolutional neural networks</a> to preserve the semantic content of the original tweet while rendering the image in the style of another (also algorithmically-generated) picture. For a complicated, in-depth explanation of neural-style art, <a href="http://www.cv-foundation.org/openaccess/content_cvpr_2016/papers/Gatys_Image_Style_Transfer_CVPR_2016_paper.pdf">check out this paper.</a></p>
                <br>
                <p class="text-faded" style="font-size:90%">[1] Ghosh, Pallab. "Cave Paintings Change Ideas about the Origin of Art." BBC News. 2014. Web. <a href="http://www.bbc.com/news/science-environment-29415716">http://www.bbc.com/news/science-environment-29415716</a>. 05 Dec. 2016.</p>
            </div>
        </div>
    </div>
</section>
