extends layout

block metaTwitter
  meta(name="twitter:image", content="http://paintingthecave.com/img/caveog.png")

block content
  div
    section(class="headerimg", style="margin-bottom:50px")
      div(class="container")
        h1(id="bannerHeading") 404
    section
      div(class="container text-center")
        h1 So very sorry! Not sure where this image went.
